/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

.sign-in, .sign-up {
    width: 100%;
    max-width: 300px;
    padding-top: 80px;
    padding-bottom: 80px;
    margin: auto;
}

.admin-content, .catalog {
    padding-top: 40px !important;
}

.card-item {
    padding: 10px;
}

/*.btn {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    padding: 5px 16px;*/
/*    font-size: 14px;*/
/*    font-weight: 500;*/
/*    line-height: 20px;*/
/*    white-space: nowrap;*/
/*    vertical-align: middle;*/
/*    cursor: pointer;*/
/*    -webkit-user-select: none;*/
/*    -moz-user-select: none;*/
/*    -ms-user-select: none;*/
/*    user-select: none;*/
/*    border: 1px solid;*/
/*    border-radius: 6px;*/
/*    -webkit-appearance: none;*/
/*    -moz-appearance: none;*/
/*    appearance: none;*/
/*}*/

/*.cbtn {*/
/*    color: var(--color-btn-text);*/
/*    background-color: var(--color-btn-bg);*/
/*    border-color: var(--color-btn-border);*/
/*    box-shadow: var(--color-btn-shadow), var(--color-btn-inset-shadow);*/
/*    transition: .2s cubic-bezier(.3,0, .5,1);*/

/*    !*transition-property: color, background-color, border-color;*!*/
/*    !*transition-duration: 0.2s;*!*/
/*    !*transition-timing-function: cubic-bezier(0.3, 0, 0.5, 1);*!*/
/*    !*transition-delay: 0s;*!*/

/*    transition-property: color, background-color, border-color;*/
/*}*/

/*:root {*/
/*    --color-btn-text: #24292e;*/
/*    --color-btn-bg: #fafbfc;*/
/*    --color-btn-border: rgba(27,31,35,0.15);*/
/*    --color-btn-shadow: 0 1px 0 rgba(27,31,35,0.04);;*/
/*    --color-btn-inset-shadow: inset 0 1px 0 hsla(0,0%,100%,0.25);*/
/*}*/

/*[type=reset], [type=submit], button, html [type=button] {*/
/*    -webkit-appearance: button;*/
/*}*/
/*button {*/
/*    cursor: pointer;*/
/*    border-radius: 0;*/
/*}*/
/*button, input, select, textarea {*/
/*    font-family: inherit;*/
/*    font-size: inherit;*/
/*    line-height: inherit;*/
/*}*/
/*button, select {*/
/*    text-transform: none;*/
/*}*/
/*button, input {*/
/*    overflow: visible;*/
/*}*/
/*button, input, select, textarea {*/
/*    font: inherit;*/
/*    margin: 0;*/
/*}*/
/*user agent stylesheet*/
/*button {*/
/*    appearance: button;*/
/*    -webkit-writing-mode: horizontal-tb !important;*/
/*    text-rendering: auto;*/
/*    color: -internal-light-dark(black, white);*/
/*    letter-spacing: normal;*/
/*    word-spacing: normal;*/
/*    text-transform: none;*/
/*    text-indent: 0px;*/
/*    text-shadow: none;*/
/*    display: inline-block;*/
/*    text-align: center;*/
/*    align-items: flex-start;*/
/*    cursor: default;*/
/*    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));*/
/*    box-sizing: border-box;*/
/*    margin: 0em;*/
/*    font: 400 13.3333px Arial;*/
/*    padding: 1px 6px;*/
/*    border-width: 2px;*/
/*    border-style: outset;*/
/*    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));*/
/*    border-image: initial;*/
/*}*/

/*.number {*/

/*    display: inline-block;*/

/*    position: relative;*/

/*    width: 100px;*/

/*}*/

/*.number input[type="number"] {*/

/*    display: block;*/

/*    height: 32px;*/

/*    line-height: 32px;*/

/*    width: 100%;*/

/*    padding: 0;*/

/*    margin: 0;*/

/*    box-sizing: border-box;*/

/*    text-align: center;*/

/*    -moz-appearance: textfield;*/

/*    -webkit-appearance: textfield;*/

/*    appearance: textfield;*/

/*}*/

/*.number input[type="number"]::-webkit-outer-spin-button,*/

/*.number input[type="number"]::-webkit-inner-spin-button {*/

/*    display: none;*/

/*}*/

/*.number-minus {*/

/*    position: absolute;*/

/*    top: 1px;*/

/*    left: 1px;*/

/*    bottom: 1px;*/

/*    width: 20px;*/

/*    padding: 0;*/

/*    display: block;*/

/*    text-align: center;*/

/*    border: none;*/

/*    border-right: 1px solid #ddd;*/

/*    font-size: 16px;*/

/*    font-weight: 600;*/

/*}*/

/*.number-plus {*/

/*    position: absolute;*/

/*    top: 1px;*/

/*    right: 1px;*/

/*    bottom: 1px;*/

/*    width: 20px;*/

/*    padding: 0;*/

/*    display: block;*/

/*    text-align: center;*/

/*    border: none;*/

/*    border-left: 1px solid #ddd;*/

/*    font-size: 16px;*/

/*    font-weight: 600;*/

/*}*/
